body {
    background-color: #f9F9F9;
}
h1 , h2 , h3, h4, h5 {
    //font-family : 'Gloria Hallelujah', sans-serif;
    font-family : 'Ubuntu Mono', sans-serif;
}

h1 {
    color : #772953;
}

h2 , a {
    color : #772953; //bleu
}

h3 , code , h5 {
    color : #333; //rose
}

h4 {
    color : #777; //vert
}

p , li, a.navbar-brand {
    font-family : 'Ubuntu', sans-serif;
    font-size : 1.1em;
    color : #000;
}

a:hover , h2:hover {
    text-decoration:none;
    color : #54D3DC;
}

ul.pager li.previous a , ul.pager li a , ul.pager li a:hover {
    color : #F8F8F2;
    background-color: #F9265D;
    border:0;
}

ul.pager li.next a  {
    color : #282828;
    background-color: #92DC2C;
    border:0;
}
p.progres {
  margin-bottom: 20px;
  height:20px;
}
.progress-bar-danger {
  background-color: #AD7E97; //rose
}
.progress-bar-info {
  background-color: #843E64; //bleu
}
.progress-bar-success {
  background-color: #772953; //rose
}
.progress-bar-warning {
  background-color: #9F6986; //orange
}
.progress-bar-primary {
  background-color: #925375; //violet
}
.progress {
  background-color: #EEE;
  border: 1px solid #AEA79F;
}
h1  small {
  color: #333333;
}
